*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

#customInputDiv{
    display: flex;
    justify-content: center;
}

input {
    
    width: 170px;
    height: 30px;
}

#customSettingsBtn{
    width: 80px;
    height: 30px;
}

#board{
    display: flex;
    background-color: rgb(176, 175, 175);
    height: 500px;
    width: 600px;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}

#statusBar{
    display: flex;
    border: 1px solid black;
    /* border-style: inset; */
    width: 300px;
    height: 100px; 
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    background: #808080;
}

.tile{
    border: 1px solid black;
    display: flex;
    width: 100px; 
    height: 100px; 
    justify-content: center;
    align-items: center;
} 

.panelBoxes{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    align-items: center;
    width: 25%;
    height: 90%;
    border: 1px solid black;
}

#resetDiv{
    display: flex;
    height: 90%;
    border: 1px solid black;
}

#resetIcon{
    height: 100%;
    width: 100%; 
}

.statusNums{
    width: 33%;
    height: 90%;
}

/* disable dragging and selecting images */
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }